# Dependencies
node_modules/

# Build output
dist/

# IDE files
.vscode/
.DS_Store


#Playwright reports
/playwright-report/
/test-results/

#Authentication state file
auth/user.json

#Environment variables
.env

# Test reports
cucumber-report.json
reports/
test-results/